{% extends 'userbase.html.twig' %}

{% block title %}Reset Your password{% endblock %}

{% block body %}
{% include('includes/unavbar.html.twig') %}
<div class="mdc-layout-grid">
       <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                <div class="mdc-card">
                   <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-7">
                           <section class="purchase__card_section">
                               <div class="card card-signin my-5"  style="background:#00a;color:lightgrey;">
                                   <div class="card-body">
                                      <h1 class="card-title text-center font-weight-bold">
                                        Reset Your Password!
                                      </h1>
                                        <div class="mt-4 font-weight-bold font-14">
                                          <p>
                                              <b style="display:block;">* Gain access to your account</b>
                                              <br/>

                                              <span style="display:block;text-indent:15px;" >* We much appreciate your support.</span>

                                          </p>
                                        </div>
                                   </div>
                               </div>
                           </section>
                        </div>


     <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-5">
       <section class="purchase__card_section">
        <div class="card card-signin my-5">
          <div class="card-body">

            <form class="form-signin" method="post">
                {% for messages in app.flashes('dangerToken') %}
						   <p class="text-center text-red">
                                 {{ messages }}
						      </p>
			     {% endfor %}

              <div class="form-label-group">
                <input type="password"   name="newpass" id="inputEmail" placeholder="Enter new password" class="form-control"  required autofocus>
                <label for="inputEmail">New Password</label>
              </div>

              <div class="form-label-group">
               <input type="password" name="confirm" id="inputPassword" placeholder="Repeat password" class="form-control" autocomplete="current-password" required>
                <label for="inputPassword">Confirm Password</label>
              </div>
                 {% for messages in app.flashes('Token') %}
						   <p class="text-center text-red">
                                 {{ messages }}
						      </p>
			     {% endfor %}

              <button class="form-control btn btn-lg btn-primary btn-block text-uppercase" type="submit">Reset</button>
            </form>
            </div>
        </div>
       </section>
      </div>
    </div>
    </div>
 </div>
 </div>
 </div>
 </main>
</div>

  <!--end reset builder -->
{% endblock %}
