<div class="page-wrapper mdc-toolbar-fixed-adjust">
  <main class="content-wrapper" style="background:transparent;">
    <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3">
              <div class="mdc-card"  style="background:transparent;color:white;font-weight:bold;">
                <div class="mdc-layout-grid__inner mx-2 my-3" style="background:darkblue;color:lightgrey;font-weight:bold;">
                     <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                          <section class="purchase__card_section">
                           <img class="center-block img-responsive img-rounded" src="/images/git.png" width="55%"/>
                          </section>
                      </div>
                       <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                            <section class="purchase__card_section">
                             <p class="font-weight-bold"> {{ user.firstname}}</p>
                              <p class="font-weight-bold"> @{{user.username}}</p>
                            </section>
                        </div>
                </div>
              </div>
            </div>



